.admin-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 512px) {
  .admin-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 721px) {
  .admin-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .admin-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1488px) {
  .admin-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1821px) {
  .admin-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}


.left .panel,
.right .panel,
.layout-column.layout-column--half .panel {
  border-bottom: none;
}

.left .panel .panel__title,
.right .panel .panel__title,
.layout-column.layout-column--half .panel__title {
  margin-bottom: 1rem;
}

.layout-column.layout-column--half .admin-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.admin-list .admin-item {
  border: calc(1em / 16) solid var(--color-gray-200);
  position: relative;
  padding: 0.75em 1rem;
}
.admin-list .admin-item:hover {
  color: var(--color-text);
  background: var(--color-bgblue-hover);
}

.admin-list .admin-item a {
  position: unset;
}
.admin-list .admin-item a:focus {
  position: unset;
  outline: 0;
  box-shadow: none;
}
.admin-list .admin-item a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: none;
}

.admin-list .admin-item a:focus:before {
  outline: 4px solid var(--color-link);
  opacity: 0.5;
}
